body{
	font-family: Segoe UI, Calibri;
	margin: 0px;
	padding: 0px;
	border: 0px;
	overflow: auto;
}

.header{
	width: 100%;
	display: flex; 
	align-items: center;
	padding: 00px 0px;
	background-color: #000000;
	/*! float: left; */
	color: #FFFFFF;
}

.orangeinfra{
	height: 50px;
	width: 50px;
	margin-left: 130px;
	padding: 10px;
	
}

a{
	color: #000000;
	text-decoration: none;
}

nav{
	width: 100%;
	background-color: #9A9A9A;
}

nav > ul{
	margin: 0px;
	/*! align-items: center; */
	padding: 0px;
	padding-left: 50px;
}

nav > ul::after{
	content: "";
	display: block;
	clear: both;
}

nav > ul > li{
	float: left;
	position: relative;
	align-items: center;
}

nav > ul > li > a{
	padding: 20px 30px;
	color: #FFF;
}

nav > ul > li:hover a{
	padding: 15px 30px 20px 30px
}

nav li{
	list-style-type: none;
}

nav a{
	display: inline-block;
	text-decoration: none;
}

nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 1000;
}

.submenu li{
	border-bottom: 1px solid #CCC;
}

.submenu li a{
	padding: 10px 10px;
	font-size: 11px;
	color: #FFFFFF;
	height: 1px;
	width: 111px;
}

.menu-bienvenue:hover{
	border-top: 5px solid#ff6600;
	background-color: rgba(228, 77, 38, 0.15);
}

.menu-présentation:hover{
	border-top: 5px solid#FF6600;
	background-color: rgba(228, 77, 38, 0.15);
}

.menu-réalisation:hover{
	border-top: 5px solid#FF6600;
	background-color: rgba(228, 77, 38, 0.15);
}

.menu-op:hover{
	border-top: 5px solid#FF6600;
	background-color: rgba(228,77,38,0.15);
}

.menu-cout:hover{
	border-top: 5px solid#FF6600;
	background-color: rgba(228,77,38,0.15);
}

.submenu{
	background-color: rgba(255, 102, 0, 1);
	display: none;
}

.submenu li:hover a{
	color: #EEE;
	font-weight: bold;
}

.menu-réalisation .submenu li:hover{
	background-color: rgba(240, 102, 0, 1);
}

h2{
	color: rgba(105, 105, 105, 1);
	font-size: 30px;
	padding: 0px 100px;

}

.orangeinfrapp{
	padding: 0px 90px;
}

.textbienvenue{
	padding: 0px 100px;
}